# IBKR API settings
IB_LOGIN_ID=xxxxxx
IB_PASSWORD=xxxxxx

API_HOST=127.0.0.1
API_PORT=4002
API_CLIENT_ID=125
TWS_MAJOR_VRSN=1040
IB_DIR=C:\Jts\ibgateway\1040
CONFIG=C:\Jts\IBC\config.ini
IBC_PATH=C:\Jts\IBC
TWS_PATH=C:\Jts\TWS

MINIMIZE_MAIN_WINDOW=yes
EXISTING_SESSION_DETECTED_ACTION=disconnectOtherSession
READ_ONLY_API=no
AUTO_LOGOFF_TIME=23:59
AUTO_RESTART_TIME=
CLOSEDOWN_AT=
CONTROL_FROM=127.0.0.1
TRADING_MODE=paper
AcceptNonBrokerageAccountWarning=yes
HIDE=yes
